.slide-up-enter-active[data-v-d1dfffe3],.slide-up-leave-active[data-v-d1dfffe3]{transition:all .4s ease}.slide-up-enter-from[data-v-d1dfffe3],.slide-up-leave-to[data-v-d1dfffe3]{opacity:0;transform:translateY(100%)}
